.body {
    overflow: hidden;
}

.consoleCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon {
    align-items: center;
    background-color: #eceff1;
    border-radius: 44px;
    box-sizing: border-box;
    display: flex;
    height: 88px;
    justify-content: center;
    padding-bottom: 4px;
    width: 88px;
}

.list {
    color: #ccc;
    font-size: 13;
    margin-bottom: 16px;
    margin-top: 20px;
    text-align: left;
    width: 280px;
}

li {
    display: list-item;
    margin-bottom: 5px;
    text-align: -webkit-match-parent;
}

.inputBox {
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 0.3);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 92px;
    padding: 0 24px;
    text-align: left;
    width: 308px;
}